
/*
#fbd831
#f3a80f
rgb(121, 115, 115)
*/

/* dia ga mau muncul, jadi editnya di html 
.logo{
    height: 20px;
    border: 1px solid black;
}note: turns out itu karena herf nya cuma style.css bukan css/style.css*/

*{
    box-sizing: border-box;
    flex-shrink: 0;
}

body{
    background-color: black;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', serif;
}

p{
    font-size: 20px;
    text-align: center;
    color: #fbd831;
    padding-left: 10px;
}

h2{
    color: #fbd831;
    font-size: 60px;
    line-height: 1px;
    padding-top: 30px;
}

h3{
    font-size: 50px;
    color: #fbd831;
}

/*------------------------header------------------------*/

/*logo*/
.navigation{
    display: flex; /*biar antaara logo dan menubar kejajar kesamping bukan kebawah*/
    align-items: center; /* biar logo dan menubar di tengah posisi navigation*/
    top: 0; left: 0; right: 0; /*untuk memperbaiki position yang ngerusak semua*/
    background-color: rgb(0, 0, 0);
    line-height: 10px;
    color: #fbd831;
    padding: 10px;
}

.navigation p{
    font-size: 20px;
}

.logo{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-size: cover;
    background-image: url(../assets/logo.jpg);
    border: 1px solid;
    flex-shrink: 0; /*biar logo ga berubah bentuk saat di zoom*/
}

.menubar a {
    padding-left: 20px;
    padding-right: 20px;
    color: #fbd831;
    text-decoration: none; /*menghilangkan garis bawah*/
    font-size: 13px;
}

.navigation .button a {
    width: 100px;
    font-size: 15px;
    color: white;
    padding: 10px;
    border-radius: 5%;
    text-decoration: none;
    background-color: #f3a80f
}

/*------------------------main------------------------*/

/*-----------------banner-----------------*/

.banner{
    width: 100%;
    height: 350px;
    margin-top: 10px;
    background-image: url(../assets/pic1.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    margin-top: 0px;
}

/*-----------------home-----------------*/
.home{
    display: flex;
    justify-content: center;
}

.quetion{
    font-size: 10px;
}

.home-container p{
    margin-bottom: 100px;
}
/*-----------------about us-----------------*/
.aboutus{ /*teks about us ditengah*/
    text-align: center;
    height: 100%;
    width: 100%;
    border: 1px solid;
    color: white;
    padding-bottom: 20px;
    background-color: #f3a80f;
    margin-bottom: 100px;
}

.aboutus .desc-content{ /*bikin konten di tengah*/
    display: flex; /* Menggunakan Flexbox */
    flex-direction: column; /* pake ini biar kotak lorem ipsum di tengah!! */
    color: white;
    align-items: center;
}

.aboutus .desc-content .desc{ 
    height:100%;
    width: 60%;
    border: 1px solid;
    border-color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
}

.desc-content h3{
    line-height: 1px; /*jarak about us ke kotak tulisan*/
    color: rgb(0, 0, 0);
}
/*-----------------our profil-----------------*/
.ourprofil{ /*border profil*/
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 30px;
    margin-bottom: 150px;
}

.profil-head h3{
    line-height: 1px; /*pas header ga bisa, pas diubah jadi article bisa*/
}

.profil{ /*border profil 12345*/
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    flex-shrink: 0;
}

.profil-container{ /*pridil 12345 bisa sejajar*/
    text-align: center;
}

.profil-desc{
    height: 150px;
    width: 150px;
    border-radius: 10%;
    background-size: cover;
}

.profil-satu{
    background-image: url(../assets/p1.jpg);
}

.profil-dua{
    background-image: url(../assets/p2.jpg);
}

.profil-tiga{
    background-image: url(../assets/p3.jpg);
}

.profil-empat{
    background-image: url(../assets/p4.jpg);
}

.profil-lima{
    background-image: url(../assets/p5.jpg);
}
/*----------------message us-----------------*/
.messageus{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    border: 1px solid;
    border-color: rgb(255, 255, 255);
    background-color: #f3a80f;
    color: red;
    padding-top: 1px;
    margin: ;
}

.messageus .contact-right{
    flex-basis: 60%; /*membagi class messageus jadi dua untuk left dan right */
    padding-top: 60px;
}

form input, form textarea{
    width: 100%; /*untuk melebarkan text area*/
    border: 1px solid;
    margin: 10px /*antar textbox*/ 0px /*biar ga keluar margin*/;
    font-size: 12px;
    background-color: #f7ebd3;
}

.messageus h3{
    color: black;
}
/*-----------------footer-----------------*/

footer{
    width: 100%;
    height: 100%;
    border: 1px solid;
    color: white;
    margin-top: 100px;
}
